.contact__container{
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    /* grid-template-columns:; */
    gap: 4rem;
    height: 30rem;
    margin: 12rem auto;
    border-radius:1rem ;
}
/*=======================aside starts===========================*/
.contact__aside{
    background: var(--color-primary);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.contact__aside h3{
    text-align: left;
    margin-bottom: 1rem;
}
.contact__aside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}
.comment-box, .post-comment .list{
    background-color: indigo;
    border-radius: 6px;
    box-shadow: 0 2px 2px black;
    }
    .comment-section{
        width: 650px;
        height: auto;
        margin: 3rem;
    }
    .post-comment .list {
    
        width: 100%;
        margin-bottom: 2rem;
    }
    .post-comment .list .user {
        display: flex;
        padding: 8px;
        overflow: hidden;
    }
    .post-comment .list .user img{
       height: 38px;
        width: 38px;
        margin-right: 10px;
        border-radius: 50%;
    }
    .comment-section .name{
        text-transform: uppercase;
        font-weight: 500;
    }
    .post-comment .list .day{
        font-size: 10px;
    }
    .post-comment .comment-post{
        padding: 0 0 15px 58px ;
    }
/*===============DOUBT FORM========================*/
.contact__form h2{
    box-shadow: 2px 2px 5px whitesmoke ;
    text-align: left;
    margin-bottom: 2rem; 
}
.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}
.form__name{
    display: flex;
    gap: 1.2rem;
}
.contact__form input[type="text"]{
    width: 50%;
}
input, textarea{
    width: 100%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
}
.contact__form .btn{
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}